<%= form_tag("/convert", method: "post", data: { controller: 'home'}) do |form| %>
  <div class="flex flex-col">
    <div class="flex gap-6 items-center">
      <%= render partial: 'exchange_box' %>
    </div>

    <div class="flex justify-center mt-16 align-center">
      <button data-action="click->home#convert" data-home-target="submitButton" type="button" class="px-5 py-2.5 mb-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Please,
        convert
      </button>
    </div>
  </div>
<% end %>
